
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #c6c5c1; 
}

/*
header{
  background-color: #ffff00;
  height:50vh; Viewport Height 
}

.container {
  display: grid;
} */

/* calcifer */


#calcifer-block {
  height: 20vw;
  width: 20vw;
  /* background-color: yellow; */
  display:flex;
  align-items:center;
  justify-content:center; 
  flex-wrap: wrap;
  margin:auto;
}

div, div:after, div:before {
position:absolute;
content:"";
}

.wrap {
width:100%;
height:100%;  
/* background: radial-gradient(circle, #691d05, #040202); */
}

.calcifer {
position: relative;
top: 50%;
transform: translateY(-50%);
height:120px;
width:96.0px;
margin:auto;

}

.log {
width:180px;
height:36.0px;
background:#7e1c05;
background:radial-gradient(ellipse at top, #f9b413 0%, #8a1b06 40%, #1b0c08 90%);
top:108.0px;
left:-42.0px;
overflow:hidden;
}

.lines {
width:240px;
height:18.0px;
border:0.6px solid #1b0c08;
left:-30.0px;
top:6.0px;
}
.lines:after{
width:240px;
height:12.0px;
border:0.6px solid #1b0c08;
left:-30.0px;
top:11.4px;
}
.lines:before{
width:240px;
height:12.0px;
border:0.6px solid #1b0c08;
left:-30.0px;
top:3.0px;
}

.crack-l {
width:0;
height:0;
border-left:96.0px solid #1b0c08;
border-top:3.0px solid transparent;
top:12.0px;
}

.crack-l:after{
width:0;
height:0;
border-left:96.0px solid #8a1b06;
border-bottom:3.0px solid transparent;
top:0px;  
left:-96.0px;
opacity:0.4;
}

.crack-r {
width:0;
height:0;
border-right:96.0px solid #1b0c08;
border-top:3.0px solid transparent;
top:24.0px;
right:0;
}

.crack-r:after{
width:0;
height:0;
border-right:96.0px solid #8a1b06;
border-bottom:3.0px solid transparent;
opacity:0.4;
}

.rear {
width:96.0px;
height:102.0px;
top:18.0px;
background:#f00;
border-radius:50% 50% 40% 40%;
}

.flames-round {
width:36.0px;
height:36.0px;
border-radius:50%;
background:#f20;
left:12.0px;
top:-18.0px;
box-shadow: -15.0px 78.0px 0 0 #fc860a,
            -18.0px 48.0px 0 0 #fe4202,
            51.0px 24.0px 0 0 #fe2001,
            54.0px 72.0px 0 0 #fd7206,
            30.0px -12.0px 0 0 #fe1001;
}
.flames-small {
width:18.0px;
height:18.0px;
border-radius:50%;
background:#f20;
top:6.0px;
box-shadow: 42.0px 12.0px 0 0 #ff2400,
            30.0px 30.0px 0 0 #fe4202,
            81.0px 24.0px 0 0 #fe2001,
            60px -9.0px 0 0 #fe2001,
            -6.0px 48.0px 0 0 #fd6704,
            33.0px -45.0px 0 0 #fe1001;
}
.flames-tiny {
width:6.0px;
height:6.0px;
border-radius:50%;
background:#f20;
top:-6.0px;
left:3.0px;
box-shadow: -3.0px 30.0px 0 0 #ff2400,
            39.0px 24.0px 0 0 #fe4202,
            72.0px 0 0 0 #fe2001,
            -6.0px 48.0px 0 0 #fd6704,
            36.0px -45.0px 0 0 #fe1001,
            48.0px -30.0px 0 0 #fe0000,
            93.0px 54.0px 0 0 #ff2400,
            24.0px 6.0px 0 0 #fe4202;
}

.front {
width:96.0px;
height:102.0px;
background:#f00;
background:radial-gradient(circle at bottom, #f7d91b 0%,#fe5f02 50%,transparent 80%);
border-radius:50% 50% 40% 40%;
top:18.0px;

}

.eyes {
width:18.0px;
height:18.0px;
background:#fee69f;
border-radius:50%;
top:78.0px;
left:15.0px;
box-shadow:48.0px 0 0 0 #fee68f;
}
.eyes:after {
width:3.0px;
height:3.0px;
background:#56210f;
border-radius:50%;
top:4.2px;
left:9.0px;
box-shadow:45.0px 0 0 0 #56210f;  
}

.mouth {
width:22.2px;
height:5.3999999999999995px;
background:#ff2400;
border-radius:50% 50% 20% 20%;
top:96.0px;
left:37.2px; 
opacity:0.4;
}

.left-arm {
width:12.0px;
height:30.0px;
background:#fc860a;
border-radius:50% 0% 50% 50%;
top:93.0px;
left:9.0px;  
transform:rotate(-80deg);
}
.right-arm {
width:12.0px;
height:30.0px;
background:#fd7026;
border-radius:0% 50% 50% 50%;
top:96.0px;
left: 72.0px;  
transform:rotate(60deg);
}



.ccc, .ccc a {
bottom:0px;
right:0px;
font-family:Tahoma;
font-size:10pt;
padding:5px;
background:#eb5252;
border-radius:5px 0 0 0;
color:white;
}