.container {
    padding: 6em 30px;
}

.item {
    margin-right: 2em;
}

#logContainer {
    margin: 30px 0px; 
    overflow-x: auto;
}

.chartContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Divide em duas colunas */
    gap: 2%; /* Espaçamento entre os gráficos */
    justify-content: center; /* Centraliza horizontalmente */
    margin: 5% 0%;
}

#scales {
    display: none;
}